@tailwind base;
@tailwind components;
@tailwind utilities;


@layer
{
    h1,h2,h3,h4,h5,h6
    {
        @apply font-bold
    }
    p
    {
        @apply mb-4
    }
    img
    {
        @apply block
    }
    .container-t
    {
        @apply max-w-[1200px] mx-auto
    }
}
@layer components
{
    .btn
    {
        @apply  inline-block h-[42px] px-3 py-2 bg-transparent border text-white border-white rounded-md
    }

    .btn-accent
    {
        @apply bg-accent border-accent
    }
    .input__wrapper
    {
        @apply relative mb-5
    }

    .input__wrapper input
    {
        @apply w-full px-4 pb-2 pt-6 rounded-md bg-white/5 border border-white outline-none text-white
    }
    .input__wrapper label
    {
        @apply absolute top-4 left-5 text-white transition-all pointer-events-none
    }

    .input__wrapper input:focus + label, 
    .input__wrapper input:valid + label
    {
        @apply text-sm top-2 left-4
    }
}

.feature-list .features:nth-child(even) .content
{
    @apply order-1
}
.answer p 
{
    @apply text-xl mb-5 font-bold
}
.slick-dots {
    @apply absolute top-[-50px] text-right pointer-events-none
}

.slick-dots li button:before {
    @apply content-[''] w-[22px] h-[3px] bg-zinc-800 mx-1 pointer-events-auto
      
}
.slick-next, .slick-prev
{
 @apply h-full opacity-0 hover:opacity-100 z-[20]
}

.slick-arrow
{
    @apply transition-all bg-black/20
}

.slick-next, .slick-prev{
            @apply h-full opacity-50 hover:opacity-100 flex flex-col justify-center items-center mt-[-2px];
            svg{
                @apply h-fit 
                text-white text-4xl brightness-200 opacity-0 hover:opacity-100
            }
        }
        .slick-next::before, .slick-prev::before{
            @apply hidden;
        }
        .movie__info::before {
            @apply content-[''] absolute bottom-full left-0 h-[100px] w-full  block  bg-gradient-to-t from-[rgba(20,20,20,.95)] from-10% via-[rgba(20,20,20,.4)] via-60% to-transparent
        }


/* width */
.custom-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .custom-scroll::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  
  /* Handle */
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #0b0b0b;
  }
  
  /* Handle on hover */
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #070707;
  }        